@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');

body {
    background-color: #F9FAFC;
    min-height: 100vh;
}

.navbar {
    padding: 0;
}

.out-banner {
    height: 400px;
    width: 100%;
    overflow: hidden;
    padding: 0;

    /* Change position to relative and cover-text to absolute to get it fixed in the section. */
    position: relative;
}

.out-banner-recipes {
    height: 200px;
}

.banner {
    height: 100%;
    width: 100%;
    background-color: #FEEEDF;
    background: url(https://res.cloudinary.com/djwxldbab/image/upload/v1672335293/recipe-banner_sc3y2k.webp) no-repeat center center;
    background-size: cover;
    align-items: start;
    padding: 0;
}

.navbar-brand {
    font-family: 'Life Savers', cursive;
    font-size: 28px;
    font-weight: 600;
    color: #314E52;
}

.nav-background {
    background-color: #518173;
}

.logo {
    width: 40px;
}

.username {
    color: #EFBB7F;
}

.nav-link {
    color: #EFBB7F;
}

footer {
    color: #EFBB7F;
    background-color: #518173;
}

/***************************/
/******* Recipe list *******/
/***************************/

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author, .created-like {
    font-size: 0.8rem;
    font-weight: 400;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover {
    text-decoration: none;
    color: #445261;
}

.icons {
    color: #518173;
    left: 0;
}

/***************************/
/****** Recipe details *****/
/***************************/

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;

    /* Change position to relative and cover-text to absolute to get it fixed in the section. */
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    background-color: #FEEEDF;
    
    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#hero-image {
    background: no-repeat center center;
    background-size: cover;
}

/* Text over hero image */

#cover-text, #cover-text h2 {
    color: #000000;
}

#cover-text {
    font-size: 130%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-align: center;

    width: 100%;
    height: 120px;

    background-color: #B0091A;
    bottom: 0px;
    color: white;
    padding: 10px;

    position: absolute;
    display: flex;
    justify-content: center;
}

#cover-text h2 {
    margin: 20px;
    align-self: center;
}

.comment-alert{
    border: 2px solid #b0091a2e;
    border-radius: 8px;
    padding: 5px;
    color: #B0091A;
    background-color: rgb(176 9 26 / 9%);
    padding: 15px;
}

.btn-like {
    color: #B0081B;
    border: none;
    background: none;
}

/***************************/
/****** Account pages ******/
/***************************/

.background {
    background: url(https://img.freepik.com/free-photo/colorful-veggies-frame-with-copy-space_23-2148290738.jpg?w=996&t=st=1672081483~exp=1672082083~hmac=aa8d326…) no-repeat center center;
    height: 100vh;
    /* height: 100%; */
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
}

.loginout-form {
    margin: 0;

}

.form-background {
    background-color: rgb(246 245 245 / 50%);
    padding: 15px 25px;
}