{% extends "base.html" %}

{% block content %}

{% load static %}

{% load cloudinary %}

<div class="container-fluid out-banner">
    <div class="banner"></div>
</div>
<div class="container">
    <div class="row">
        <p class="py-5 intro">Cooking recipes is a way to reduce stress and enjoy meals more. We offer recipes and
            cooking advice from home
            cooks for people who want to cook delicious meals without all the stress. Our goal is to make cooking easier
            and more enjoyable for everyone.</p>
    </div>
    <h3 class="text-center">Latest recipes</h3>
    <br>
    <div class="row">

        {% for recipe in recipes %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="recipe-link" href="{% url 'recipe_detail' recipe.slug %}">
                <!-- Featured image -->
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="{% static 'image/recipe-book.jpg' %}" class="d-block w-100 zoom intro-recipe-img" alt="Recipe book">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" class="d-block w-100 zoom intro-recipe-img" alt="{{ recipe.title }}">
                {% endif %}
                <div class="mb-3 intro-recipe-title">
                    <h5>{{ recipe.title }}</h5>
                    <small>{{ recipe.author }} <span class="float-end"><i class="far fa-heart"></i>
                            {{ recipe.number_of_likes }}</span></small>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <!-- Link to see all the recipes -->
        <div class="text-center my-3">
            <a href="{% url 'recipes' %}" class="btn btn-sm orange-btn" role="button" aria-pressed="true">More
                recipes</a>
        </div>
    </div>
</div>
{%endblock%}